<!doctype html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <img src="/pokemon-world.png" alt="Pokemon World" width="100%"/>
      <a href="/pokemons">
        <button>View Pokemons</button>
      </a>
      <a href="/trainers">
        <button>View Trainers</button>
      </a>
      <a href="/types">
        <button>View Types</button>
      </a>
    </form>
  </body>
</html>